@import "./mixins";

.products-summary {
  display: flex;
  justify-content: space-between;
}

.product-card {
  width: 39rem;
  height: 17.7rem;
  background: #ffffff;
  box-shadow: 0px 4px 90px rgba(163, 171, 185, 0.24);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.5rem 4rem;

  &__top {
    display: flex;
    align-items: center;

    &--icon {
      background: rgba(250, 88, 46, 0.15);
      border-radius: 5px;
      height: 4.3rem;
      width: 4.3rem;
      @include flex-center;
    }

    &--text {
      font-size: 1.4rem;
      margin-left: 1.6rem;
    }
  }

  &__bottom {
    @include flex-between;

    &--number {
      font-size: 3.2rem;
      color: #1f4173;
    }
  }

  &:not(:last-child) .product-card__bottom--icon {
    background: #e6eaf0;
    border-radius: 5px;
    height: 4.3rem;
    width: 4.3rem;
    @include flex-center;
  }
}
